.hero {
  height: 900px;
  background-image: url("/src/images/places/travel-background.jpg");
  background-size: cover;
  background-position: center center;
}

.hero-content {
  width: 700px;
  color: rgb(240, 248, 255);
  background-color: rgba(51, 47, 47, 0.9);
  padding: 40px 50px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  margin: 0 auto;
  position: relative;
  top: 300px;
}

.hero-content h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.hero-content p {
  font-size: 24px;
  font-weight: 300;
}

.hero-content a {
  background-color: rgb(188, 143, 143);
  color: rgb(233, 229, 232);
  padding: 10px 30px;
  border-radius: 8px;
  display: inline-block;
  font-size: 25px;
  box-shadow: 2px 4px 8px rgb(68m 67, 67);
}

.hero-content a:hover {
  background-color: rgb(160, 124, 124);
}

.highlights {
  background: linear-gradient(45deg, rgb(239, 248, 243), rgb(222, 228, 225));
  height: 450px;
}

.highlights h2 {
  margin: 0;
  padding: 40px;
  text-align: center;
  font-size: 40px;
  color: rgb(160, 124, 124);
}

.city-highlights {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.city {
  border: 1px solid rgb(180, 176, 176);
  width: 500px;
  border-radius: 10px;
  background-color: rgb(224, 218, 226);
  box-shadow: 2px 2px 4px rgb(68, 67, 67);
}

.city img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.city p {
  font-size: 20px;
}

.city span {
  color: rgb(145, 112, 112);
  font-weight: 700;
}
